openapi: 3.0.0
info:
  title: Loop Onboarding artifacts payable-invoices API
  description: HTTP REST API for Loop Payments Onboarding.
  version: '1.0'
  contact: {}
servers:
- url: https://onboarding.api.loop.com
security:
- bearerAuth: []
tags:
- name: payable-invoices
paths:
  /v1/payable-invoices:
    get:
      description: Returns a list of payable invoices.
      operationId: PayableInvoices_list
      parameters:
      - name: expand
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - addresses
            - artifacts
            - exceptions
            - organizations
            - organizations.tags
            - shipmentJobs
            - shipmentJobs.addresses
            - shipmentJobs.artifacts
            - shipmentJobs.jobTypeInfo.address
            - shipmentJobs.jobTypeInfo.organizations
            - shipmentJobs.jobTypeInfo.organizations.tags
            - shipmentJobs.organizations
            - shipmentJobs.organizations.tags
            - shipmentJobs.tags
            - shipmentJobs.shipment
            - shipmentJobs.shipment.exceptions
            - tags
      - name: revisedAfter
        required: false
        in: query
        description: Filter to only results that have been revised after this timestamp. This can be a UTC timestamp or a floating date. If a floating date is passed, the timestamp used will be the beginning (midnight UTC) of the date.
        schema:
          format: utc-timestamp
          example: '2020-01-01T00:00:00.000Z'
          type: string
      - name: revisedBefore
        required: false
        in: query
        description: Filter to only results that have been revised before this timestamp. This can be a UTC timestamp or a floating date. If a floating date is passed, the timestamp used will be the beginning (midnight UTC) of the date.
        schema:
          format: utc-timestamp
          example: '2020-01-01T00:00:00.000Z'
          type: string
      - name: first
        required: false
        in: query
        description: The number of results to return. Default value is 10. Any custom value specified must lie between 0 and 100, inclusive.
        schema:
          type: number
      - name: after
        required: false
        in: query
        description: The cursor to start returning results from
        schema:
          type: string
      responses:
        '200':
          description: The paginated response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayableInvoice'
                  pageInfo:
                    type: object
                    properties:
                      hasPreviousPage:
                        type: boolean
                      hasNextPage:
                        type: boolean
                      startCursor:
                        type: string
                      endCursor:
                        type: string
      summary: List payable invoices
      tags:
      - payable-invoices
  /v1/payable-invoices/{qid}:
    get:
      description: Returns the payable invoice with the specified QID
      operationId: PayableInvoices_get
      parameters:
      - name: expand
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - addresses
            - artifacts
            - exceptions
            - organizations
            - organizations.tags
            - shipmentJobs
            - shipmentJobs.addresses
            - shipmentJobs.artifacts
            - shipmentJobs.jobTypeInfo.address
            - shipmentJobs.jobTypeInfo.organizations
            - shipmentJobs.jobTypeInfo.organizations.tags
            - shipmentJobs.organizations
            - shipmentJobs.organizations.tags
            - shipmentJobs.tags
            - shipmentJobs.shipment
            - shipmentJobs.shipment.exceptions
            - tags
      - name: qid
        required: true
        in: path
        description: QID of the entity to retrieve
        schema:
          format: qid
          example: qid::payable_invoice:0ca6f700-4137-4d09-b44a-43bb8d7900c5
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayableInvoice'
        '400':
          description: Invalid QID
      summary: Retrieve a payable invoice
      tags:
      - payable-invoices
components:
  schemas:
    Weight:
      type: object
      properties:
        amount:
          type: string
          format: decimal-string
          example: '1.5'
        unit:
          type: string
          enum:
          - KILOGRAM
          - OUNCE
          - POUND
          - SHORT_TON
          example: POUND
      required:
      - amount
      - unit
    ShipmentJobFtlStop:
      type: object
      properties:
        addressName:
          type: string
          description: The name associated with this address on the stop.
          nullable: true
        addressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        address:
          description: The address of this stop. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        date:
          type: string
          format: floating-date
          example: '2023-01-01'
          nullable: true
        organizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        organization:
          description: The organization associated with this stop. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        stopType:
          type: string
          enum:
          - DROP_OFF
          - PICK_UP
          example: DROP_OFF
        articlesSummary:
          $ref: '#/components/schemas/ShipmentJobArticlesSummary'
        articles:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobFtlStopArticle'
        referenceNumbers:
          description: The reference numbers associated with this stop.
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobFtlStopReferenceNumber'
      required:
      - addressName
      - addressQid
      - date
      - organizationQid
      - stopType
      - articlesSummary
      - articles
      - referenceNumbers
    ShipmentJobFtlStopReferenceNumber:
      type: object
      properties:
        key:
          type: string
          description: The type of reference number associated with this stop.
          enum:
          - APPOINTMENT_REFERENCE_NUMBER
          - BILLING_ACCOUNT_NUMBER
          - BOL_NUMBER
          - CARRIER_IDENTIFIER
          - CONSOLIDATED_INVOICE_NUMBER
          - CONTAINER_NUMBER
          - CUSTOMER_REFERENCE_NUMBER
          - DELIVERY_NUMBER
          - DESTINATION_LOCATION_NUMBER
          - DISPLAY_IDENTIFIER
          - EXTERNAL_IDENTIFIER
          - HAWB_NUMBER
          - HBL_NUMBER
          - INVOICE_NUMBER
          - MAWB_NUMBER
          - MBL_NUMBER
          - ORIGIN_LOCATION_NUMBER
          - PICKUP_CONFIRMATION_NUMBER
          - PICKUP_REFERENCE_NUMBER
          - PO_NUMBER
          - PRO_NUMBER
          - RAIL_WAYBILL_NUMBER
          - SALES_ORDER_NUMBER
          - SEA_WAYBILL_NUMBER
          - TRACKING_NUMBER
          - TRAILER_NUMBER
          - UNKNOWN
          example: PO_NUMBER
          nullable: false
        value:
          type: string
          description: The value of the reference number associated with this stop.
          example: '123'
          nullable: false
      required:
      - key
      - value
    PayableInvoiceDate:
      type: object
      properties:
        date:
          type: string
          format: floating-date
          example: '2023-01-01'
        dateType:
          type: string
          enum:
          - DROPOFF
          - PICKUP
          example: PICKUP
      required:
      - date
      - dateType
    ShipmentJobLtlInfoArticle:
      type: object
      properties:
        description:
          type: object
          nullable: true
        dimensions:
          example:
            height: '2.8'
            length: '12.1'
            width: '1.5'
            unit: INCH
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Dimensions'
        grossWeight:
          example:
            amount: '20.2'
            unit: POUND
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        nmfcClass:
          allOf:
          - $ref: '#/components/schemas/NmfcClass'
        nmfcCode:
          type: string
          nullable: true
          description: The NMFC code string associated with this article.
          example: '87700'
        packageCount:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageCount'
        handlingUnit:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/HandlingUnit'
      required:
      - description
      - dimensions
      - grossWeight
      - nmfcClass
      - nmfcCode
      - packageCount
      - handlingUnit
    PayableInvoiceReferenceNumber:
      type: object
      properties:
        key:
          type: string
          enum:
          - BILLING_ACCOUNT_NUMBER
          - BOL_NUMBER
          - CONSOLIDATED_INVOICE_NUMBER
          - CONTAINER_NUMBER
          - CUSTOMER_REFERENCE_NUMBER
          - HAWB_NUMBER
          - HBL_NUMBER
          - INVOICE_NUMBER
          - MAWB_NUMBER
          - MBL_NUMBER
          - PO_NUMBER
          - PRO_NUMBER
          - RAIL_WAYBILL_NUMBER
          - SALES_ORDER_NUMBER
          - SEA_WAYBILL_NUMBER
          - UNKNOWN
          example: PO_NUMBER
          nullable: false
        value:
          type: string
          description: The value of the reference number.
          example: '123'
          nullable: false
        label:
          type: string
          description: The raw associated label for the reference number if present.
          example: po
      required:
      - key
      - value
    ShipmentJobSeaAirInfo:
      type: object
      properties:
        forwarderOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        forwarderOrganization:
          description: The forwarder associated with this job.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        airCarrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        airCarrierOrganization:
          description: The air carrier associated with this job.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        oceanCarrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        oceanCarrierOrganization:
          description: The ocean carrier associated with this job.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        oceanConsolidationType:
          type: string
          description: The ocean consolidation type
          enum:
          - FCL
          - LCL
          nullable: true
        addresses:
          description: The addresses associated with this sea-air shipment
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobSeaAirAddress'
        containers:
          description: The containers used for this sea-air shipment
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobSeaAirContainer'
        chargeableWeight:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        totalVolume:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Volume'
        freightChargeTerms:
          type: string
          description: The freight charge terms
          enum:
          - COLLECT
          - PREPAID
          - THIRD_PARTY
          - UNKNOWN
          example: PREPAID
      required:
      - forwarderOrganizationQid
      - forwarderOrganization
      - airCarrierOrganizationQid
      - airCarrierOrganization
      - oceanCarrierOrganizationQid
      - oceanCarrierOrganization
      - oceanConsolidationType
      - addresses
      - containers
      - chargeableWeight
      - totalVolume
      - freightChargeTerms
    ArtifactExpanded:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::artifact:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        artifactType:
          type: string
          description: Domain-specific type of the artifact.
          enum:
          - ACCOUNT_STATEMENT
          - BILL_OF_LADING
          - CUSTOMER_RATE_CONFIRMATION
          - DELIVERY_ORDER
          - DELIVERY_RECEIPT
          - EXTERNAL_SHIPMENT_NOTE
          - INVOICE
          - IN_OUT_GATE
          - LUMPER_RECEIPT
          - OTHER
          - PACKET
          - PACKING_LIST
          - RATE_CONFIRMATION
          - SCALE_TICKET
          - SHIPMENT_RECORD
          - UNKNOWN
          - WASHOUT_RECEIPT
          - WEIGHT_INSPECTION
          - WORK_ORDER
          example: INVOICE
      required:
      - qid
      - artifactType
    ShipmentJobAirDate:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_air_date:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        dateType:
          type: string
          description: The type of date
          enum:
          - EXECUTED
          - FLIGHT_DEPARTURE
          - FLIGHT_ARRIVAL
          - ESTIMATED_ARRIVAL
          - DELIVERY
          example: FLIGHT_DEPARTURE
        date:
          type: string
          format: floating-date
          example: '2023-01-01'
        iataCode:
          type: string
          description: The IATA airport code for this date if applicable (e.g. departure airport).
          nullable: true
      required:
      - qid
      - dateType
      - date
      - iataCode
    HandlingUnit:
      type: object
      properties:
        amount:
          type: integer
          example: 8
        unit:
          type: string
          enum:
          - BARREL
          - CARLOAD
          - CONTAINER
          - CRATE
          - DRUM
          - EACH
          - PALLET
          - RACK
          - SKID
          - TOTE
          - TRAILER
          example: PALLET
      required:
      - amount
      - unit
    Volume:
      type: object
      properties:
        value:
          type: string
          format: decimal-string
          example: '1.5'
        unit:
          type: string
          enum:
          - CUBIC_CENTIMETER
          - CUBIC_FEET
          - CUBIC_INCH
          - CUBIC_METER
          example: CUBIC_FEET
      required:
      - value
      - unit
    FreightChargeTerms:
      type: string
      enum:
      - COLLECT
      - PREPAID
      - THIRD_PARTY
      - UNKNOWN
    ShipmentJobArtifactExpanded:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::artifact:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        artifactType:
          type: string
          description: Domain-specific type of the artifact.
          enum:
          - ACCOUNT_STATEMENT
          - BILL_OF_LADING
          - CUSTOMER_RATE_CONFIRMATION
          - DELIVERY_ORDER
          - DELIVERY_RECEIPT
          - EXTERNAL_SHIPMENT_NOTE
          - INVOICE
          - IN_OUT_GATE
          - LUMPER_RECEIPT
          - OTHER
          - PACKET
          - PACKING_LIST
          - RATE_CONFIRMATION
          - SCALE_TICKET
          - SHIPMENT_RECORD
          - UNKNOWN
          - WASHOUT_RECEIPT
          - WEIGHT_INSPECTION
          - WORK_ORDER
          example: INVOICE
        assessedTypes:
          type: array
          description: The artifact's assessed types
          example:
          - PROOF_OF_DELIVERY
          items:
            type: string
            enum:
            - PROOF_OF_DELIVERY
        receivedAt:
          type: string
          format: utc-timestamp
          example: '2023-01-01T00:00:00.000Z'
          description: When the artifact was first ingested into Loop.
      required:
      - qid
      - artifactType
      - assessedTypes
      - receivedAt
    PayableInvoiceLineItemGroup:
      type: object
      properties:
        name:
          type: string
          description: The name of the line item group
          example: Linehaul
          nullable: false
        lineItems:
          description: The line items belonging to the group
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/PayableInvoiceLineItem'
      required:
      - name
      - lineItems
    ShipmentJobArticlesSummary:
      type: object
      properties:
        totalGrossWeight:
          example:
            amount: '20.2'
            unit: POUND
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        totalPackageCount:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageCount'
        totalHandlingUnit:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/HandlingUnit'
      required:
      - totalGrossWeight
      - totalPackageCount
      - totalHandlingUnit
    PackageCountInput:
      type: object
      properties:
        amount:
          type: integer
          example: 8
        unit:
          type: string
          enum:
          - BAG
          - BALE
          - BOX
          - BUNDLE
          - CARTON
          - CASE
          - COIL
          - EACH
          - PACKAGE
          - PAIL
          - PIECE
          - ROLL
          - SQUARE
          - TOTE
          - TUBE
          example: CARTON
      required:
      - amount
      - unit
    Dimensions:
      type: object
      properties:
        height:
          type: string
          format: decimal-string
          example: '1.5'
        length:
          type: string
          format: decimal-string
          example: '1.5'
        unit:
          type: string
          enum:
          - INCH
          - CENTIMETER
          example: INCH
        width:
          type: string
          format: decimal-string
          example: '1.5'
      required:
      - height
      - length
      - unit
      - width
    BusinessException:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::business_exception:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        label:
          type: string
          description: The description of the business exception
          nullable: false
          example: Variance over threshold
        resolvedAt:
          type: string
          format: utc-timestamp
          example: '2023-01-01T00:00:00.000Z'
          description: If resolved, the time the exception was resolved. If the exception was resolved and re-opened, this will be null.
          nullable: true
        targetQid:
          type: string
          description: Qualified unique identifier of the business exception's target entity.
          format: qid
          nullable: false
          example: qid::payable_invoice:0ca6f700-4137-4d09-b44a-43bb8d7900c4
        note:
          type: string
          description: The note on the business exception
          nullable: true
      required:
      - qid
      - label
      - resolvedAt
      - targetQid
    ShipmentJobUnknownInfo:
      type: object
      properties:
        vendorOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        vendorOrganization:
          description: The vendor associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
      required:
      - vendorOrganizationQid
    ShipmentJobFtlStopArticle:
      type: object
      properties:
        description:
          type: string
          nullable: true
        dimensions:
          example:
            height: '2.8'
            length: '12.1'
            width: '1.5'
            unit: INCH
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Dimensions'
        grossWeight:
          example:
            amount: '20.2'
            unit: POUND
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        nmfcClass:
          allOf:
          - $ref: '#/components/schemas/NmfcClass'
        nmfcCode:
          type: string
          nullable: true
          description: The raw NMFC code string associated with this article.
          example: '87700'
        packageCount:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/PackageCountInput'
        handlingUnit:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/HandlingUnit'
      required:
      - description
      - dimensions
      - grossWeight
      - nmfcClass
      - nmfcCode
      - packageCount
      - handlingUnit
    PayableInvoice:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          format: qid
          example: qid::payable_invoice:0ca6f700-4137-4d09-b44a-43bb8d7900c4
        createdAt:
          type: string
          format: utc-timestamp
          example: '2023-01-01T00:00:00.000Z'
        revisionNumber:
          type: number
          example: 1
        revisionCreatedAt:
          type: string
          format: utc-timestamp
          example: '2023-01-01T00:00:00.000Z'
        invoiceNumber:
          type: string
          description: The invoice number
          nullable: false
          example: 555-555555
        billingDomain:
          type: string
          description: The business billing domain that categorizes how this invoice is processed
          nullable: false
          enum:
          - PARCEL
          - FREIGHT
          example: FREIGHT
        paymentDueDate:
          type: string
          format: floating-date
          example: '2023-01-01'
          nullable: true
        issueDate:
          type: string
          format: floating-date
          example: '2023-01-01'
          nullable: true
        invoicedTotal:
          example:
            amount: '3.50'
            currencyCode: USD
          description: The total amount invoiced for the payable invoice
          allOf:
          - $ref: '#/components/schemas/Money'
        lineItemGroups:
          description: The line items, grouped into categories like "Linehaul" and "Fuel surcharge"
          type: array
          items:
            $ref: '#/components/schemas/PayableInvoiceLineItemGroup'
        shipmentJobQids:
          description: Qualified unique identifier.
          example:
          - qid::shipment_job:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          type: array
          items:
            type: string
            format: qid
        shipmentJobs:
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobExpanded'
        artifactQids:
          description: Qualified unique identifier.
          example:
          - qid::artifact:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          type: array
          items:
            type: string
            format: qid
        artifacts:
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/ArtifactExpanded'
        referenceNumbers:
          description: The reference numbers associated with this invoice.
          type: array
          items:
            $ref: '#/components/schemas/PayableInvoiceReferenceNumber'
        payeeOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        payeeOrganization:
          description: The payee associated with this invoice. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        payeeAddressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        payeeAddress:
          description: The payee address of this invoice. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        payeeFboOrganizationQid:
          type: string
          description: Deprecated, prefer vendorOrganizationQid
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        payorOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        payorOrganization:
          description: The payor associated with this invoice. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        vendorOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        vendorOrganization:
          description: The vendor associated with this invoice. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        vendorAddressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        vendorAddress:
          description: The vendor address of this invoice. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        otherAddresses:
          description: Other addresses associated with this invoice
          type: array
          items:
            $ref: '#/components/schemas/PayableInvoiceAddress'
        dates:
          description: Dates associated with this invoice
          type: array
          items:
            $ref: '#/components/schemas/PayableInvoiceDate'
        receivedAt:
          type: string
          format: utc-timestamp
          example: '2023-01-01T00:00:00.000Z'
          nullable: true
        lineItemSummary:
          $ref: '#/components/schemas/PayableInvoiceLineItemSummary'
        exceptions:
          description: A list of exceptions related to the payable invoice. This is an expansion field. To include this field, you must include `exceptions` in the query parameters.
          type: array
          items:
            $ref: '#/components/schemas/BusinessException'
        tags:
          type: object
          description: Entity tags assigned to the payable invoice. This is an expansion field. To include this field, you must include `tags` in the query parameters.
        tareWeights:
          description: Tare weights extracted from the invoice. For multi-stop FTL jobs, there should be a tare weight for each unique BOL.
          type: array
          items:
            $ref: '#/components/schemas/Weight'
      required:
      - qid
      - createdAt
      - revisionNumber
      - revisionCreatedAt
      - invoiceNumber
      - billingDomain
      - paymentDueDate
      - issueDate
      - invoicedTotal
      - lineItemGroups
      - shipmentJobQids
      - artifactQids
      - referenceNumbers
      - payeeOrganizationQid
      - payeeAddressQid
      - payeeFboOrganizationQid
      - payorOrganizationQid
      - vendorOrganizationQid
      - vendorAddressQid
      - otherAddresses
      - dates
      - receivedAt
      - lineItemSummary
      - tareWeights
    ShipmentReferenceNumber:
      type: object
      properties:
        key:
          type: string
          enum:
          - APPOINTMENT_REFERENCE_NUMBER
          - BILLING_ACCOUNT_NUMBER
          - BOL_NUMBER
          - CARRIER_IDENTIFIER
          - CONSOLIDATED_INVOICE_NUMBER
          - CONTAINER_NUMBER
          - CUSTOMER_REFERENCE_NUMBER
          - DELIVERY_NUMBER
          - DESTINATION_LOCATION_NUMBER
          - DISPLAY_IDENTIFIER
          - EXTERNAL_IDENTIFIER
          - HAWB_NUMBER
          - HBL_NUMBER
          - INVOICE_NUMBER
          - MAWB_NUMBER
          - MBL_NUMBER
          - ORIGIN_LOCATION_NUMBER
          - PICKUP_CONFIRMATION_NUMBER
          - PICKUP_REFERENCE_NUMBER
          - PO_NUMBER
          - PRO_NUMBER
          - RAIL_WAYBILL_NUMBER
          - SALES_ORDER_NUMBER
          - SEA_WAYBILL_NUMBER
          - TRACKING_NUMBER
          - TRAILER_NUMBER
          - UNKNOWN
          example: PO_NUMBER
          nullable: false
        value:
          type: string
          description: The value of the reference number.
          example: '123'
          nullable: false
        label:
          type: string
          description: The raw associated label for the reference number if present.
          example: po
      required:
      - key
      - value
    PayableInvoiceLineItemUnit:
      type: object
      properties:
        unitType:
          type: string
          enum:
          - LENGTH_RANGE
          - LENGTH
          - START_TIME
          - END_TIME
          description: The type of extracted unit
          example: START_TIME
        extractedUnit:
          type: string
          example: '14:10'
          description: The value of extracted unit
      required:
      - unitType
      - extractedUnit
    ShipmentJobAirInfo:
      type: object
      properties:
        carrierOrganizationName:
          type: string
          description: The name of the carrier
          nullable: true
        carrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        carrierOrganization:
          description: The carrier associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        forwarderOrganizationName:
          type: string
          description: The name of the forwarder
          nullable: true
        forwarderOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        forwarderOrganization:
          description: The forwarder associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        addresses:
          description: The addresses associated with this air shipment
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobAirAddress'
        routeLocations:
          type: array
          description: The route locations for this air shipment
          items:
            oneOf:
            - $ref: '#/components/schemas/ShipmentJobAirRouteAirportLocation'
            - $ref: '#/components/schemas/ShipmentJobAirRouteUnlocodeLocation'
        chargeableWeight:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        grossWeight:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        totalVolume:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Volume'
        freightChargeTerms:
          type: string
          description: The freight charge terms for this air shipment
          enum:
          - COLLECT
          - PREPAID
          - THIRD_PARTY
          - UNKNOWN
          example: PREPAID
        dates:
          description: Dates associated with this air shipment (e.g. AWB execution, flight departure, flight arrival).
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobAirDate'
      required:
      - carrierOrganizationName
      - carrierOrganizationQid
      - carrierOrganization
      - forwarderOrganizationName
      - forwarderOrganizationQid
      - forwarderOrganization
      - addresses
      - routeLocations
      - chargeableWeight
      - grossWeight
      - totalVolume
      - freightChargeTerms
      - dates
    ShipmentWithoutShipmentJobsExpanded:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        exceptions:
          description: A list of business exceptions related to the shipment. This is an expansion field. To include this field, you must include `exceptions` in the query parameters.
          type: array
          items:
            $ref: '#/components/schemas/BusinessException'
      required:
      - qid
    PackageCount:
      type: object
      properties:
        amount:
          type: integer
          example: 8
        unit:
          type: string
          enum:
          - BAG
          - BALE
          - BOX
          - BUNDLE
          - CARTON
          - CASE
          - COIL
          - EACH
          - PACKAGE
          - PAIL
          - PIECE
          - ROLL
          - SQUARE
          - TOTE
          - TUBE
          example: CARTON
      required:
      - amount
      - unit
    Money:
      type: object
      properties:
        amount:
          type: string
          format: decimal-string
          example: '3.50'
          description: The amount of money
        currencyCode:
          allOf:
          - $ref: '#/components/schemas/CurrencyCode'
      required:
      - amount
      - currencyCode
    ShipmentJobAirAddress:
      type: object
      properties:
        type:
          type: string
          description: The type of address
          enum:
          - ORIGIN
          - DESTINATION
          example: ORIGIN
        name:
          type: string
          description: The name associated with this address
          nullable: true
        addressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        address:
          description: The address details. This is an expansion field. To include this field, you must include `address` in the query parameters.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
      required:
      - type
      - name
      - addressQid
      - address
    ShipmentJobFtlInfo:
      type: object
      properties:
        freightChargeTerms:
          allOf:
          - $ref: '#/components/schemas/FreightChargeTerms'
        billToAddressName:
          type: string
          description: The name associated with the bill to address on the job artifact
          nullable: true
        billToAddressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        billToAddress:
          nullable: true
          description: The bill to address on the job artifact This is an expansion field. To include this field, you must include `address` in the query parameters.
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
        carrierOrganizationName:
          type: string
          description: The name of the carrier
          nullable: true
        carrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        firstOriginAddressName:
          type: string
          description: Deprecated. Prefer stops[0].addressName. The name associated with the first origin address.
          nullable: true
          deprecated: true
        firstOriginAddressQid:
          type: string
          description: Deprecated. Prefer stops[0].addressQid.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
          deprecated: true
        firstOriginAddress:
          nullable: true
          deprecated: true
          description: Deprecated. Prefer stops[0].address. The first origin address of the shipment. This is an expansion field. To include this field, you must include `address` in the query parameters.
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
        lastDestinationAddressName:
          type: string
          description: Deprecated. Prefer stops[-1].addressName. The name associated with the last destination address.
          nullable: true
          deprecated: true
        lastDestinationAddressQid:
          type: string
          description: Deprecated. Prefer stops[-1].addressQid.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
          deprecated: true
        lastDestinationAddress:
          nullable: true
          description: Deprecated. Prefer stops[-1].adddress. The last destination address of the shipment. This is an expansion field. To include this field, you must include `address` in the query parameters.
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
        carrierOrganization:
          description: The carrier associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        brokerOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        brokerOrganization:
          description: The broker associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        stops:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobFtlStop'
      required:
      - freightChargeTerms
      - billToAddressName
      - billToAddressQid
      - carrierOrganizationName
      - carrierOrganizationQid
      - firstOriginAddressName
      - firstOriginAddressQid
      - lastDestinationAddressName
      - lastDestinationAddressQid
      - brokerOrganizationQid
      - stops
    OrganizationExpanded:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        displayName:
          type: string
          example: ACME
          description: Name of the organization.
        tags:
          type: object
          description: Entity tags associated with the organization
          example:
            externalCarrierUuid: 304fb3dd-1f4a-404b-9f9e-c9134584915b
      required:
      - qid
      - displayName
    ShipmentJobOceanDate:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_ocean_date:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        dateType:
          type: string
          description: The type of date
          enum:
          - CARGO_RECEIVED
          - LADEN_ON_BOARD
          - DEPARTURE
          - ESTIMATED_ARRIVAL
          - ARRIVAL
          - DISCHARGE
          - DELIVERY
          example: LADEN_ON_BOARD
        date:
          type: string
          format: floating-date
          example: '2023-01-01'
        unlocode:
          type: string
          description: The UN/LOCODE for this date if applicable (e.g. port of laden-on-board)
          nullable: true
      required:
      - qid
      - dateType
      - date
      - unlocode
    ShipmentJobGenericV1Info:
      type: object
      properties:
        vendorOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
      required:
      - vendorOrganizationQid
    ShipmentJobAddress:
      type: object
      properties:
        addressName:
          type: string
          description: The name associated with this address
          nullable: true
        addressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        address:
          description: The address object. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        addressType:
          type: string
          enum:
          - PICKUP
          - DROPOFF
          - BILL_TO
          - OTHER
          example: PICKUP
      required:
      - addressName
      - addressQid
      - addressType
    ShipmentJobAirRouteAirportLocation:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_air_route_location:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        type:
          type: string
          description: The type of route location
          enum:
          - ORIGIN_AIRPORT
          - DESTINATION_AIRPORT
          - INTERMEDIATE_AIRPORT
          - CONTAINER_FREIGHT_STATION
          example: ORIGIN_AIRPORT
        canonicalAirportQid:
          type: string
          description: Qualified unique identifier.
          example: qid::canonical_airport:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
      required:
      - qid
      - type
      - canonicalAirportQid
    ShipmentJobSeaAirAddress:
      type: object
      properties:
        type:
          type: string
          description: The type of address
          enum:
          - ORIGIN
          - DESTINATION
          example: ORIGIN
        name:
          type: string
          description: The name associated with this address
          nullable: true
        addressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        address:
          description: The address details (expansion field).
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
      required:
      - type
      - name
      - addressQid
      - address
    ShipmentJobIntermodalInfo:
      type: object
      properties:
        carrierOrganizationName:
          type: string
          description: The name of the carrier
          nullable: true
        carrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        carrierOrganization:
          description: The carrier associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
      required:
      - carrierOrganizationName
      - carrierOrganizationQid
    PayableInvoiceLineItemSummary:
      type: object
      properties:
        totalGrossWeight:
          example:
            amount: '20.2'
            unit: POUND
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
      required:
      - totalGrossWeight
    ShipmentJobLtlInfo:
      type: object
      properties:
        billToAddressName:
          type: object
          description: The name associated with the bill to address on the job artifact
          nullable: true
        billToAddressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        billToAddress:
          nullable: true
          description: The bill to address on the job artifact This is an expansion field. To include this field, you must include `address` in the query parameters.
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
        carrierOrganizationName:
          type: string
          description: The name of the carrier
          nullable: true
        carrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        carrierOrganization:
          description: The carrier associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        brokerOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        brokerOrganization:
          description: The broker associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        freightChargeTerms:
          allOf:
          - $ref: '#/components/schemas/FreightChargeTerms'
        originAddressName:
          type: object
          description: The name associated with the origin address
          nullable: true
        originAddressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        originAddress:
          description: The origin address of the shipment. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        pickupDate:
          type: string
          format: floating-date
          example: '2023-01-01'
          nullable: true
        destinationAddressName:
          type: object
          description: The name associated with the destination address
          nullable: true
        destinationAddressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        destinationAddress:
          description: The destination address of the shipment. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        deliveryDate:
          type: string
          format: floating-date
          example: '2023-01-01'
          nullable: true
        articlesSummary:
          $ref: '#/components/schemas/ShipmentJobArticlesSummary'
        articles:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobLtlInfoArticle'
      required:
      - billToAddressName
      - billToAddressQid
      - carrierOrganizationName
      - carrierOrganizationQid
      - brokerOrganizationQid
      - freightChargeTerms
      - originAddressName
      - originAddressQid
      - pickupDate
      - destinationAddressName
      - destinationAddressQid
      - deliveryDate
      - articlesSummary
      - articles
    ShipmentJobExpanded:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        createdAt:
          type: string
          format: utc-timestamp
          example: '2023-01-01T00:00:00.000Z'
        jobType:
          type: string
          enum:
          - AIR
          - CARTAGE
          - COURIER
          - CUSTOMS
          - DRAYAGE
          - FTL
          - GENERIC_V1
          - INTERMODAL
          - LTL
          - OCEAN
          - ORIGIN_HANDLING
          - RAIL
          - SEA_AIR
          - TONU
          - TO_BE_DETERMINED
          - UNKNOWN
          - WAREHOUSING
          nullable: false
        primaryVendorOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        primaryVendorOrganization:
          description: The primary vendor organization for this job — the contracted party the client treats as the bill-from. Resolves to the carrier for FTL/LTL/etc., the forwarder for OCEAN/AIR/SEA_AIR (or carrier when forwarder is only a booking agent), and the vendor for CUSTOMS/WAREHOUSING/UNKNOWN/GENERIC_V1/ORIGIN_HANDLING. Null for TO_BE_DETERMINED, RAIL, and unrouted ORIGIN_HANDLING. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        jobTypeInfo:
          description: The job type info, if applicable.
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/ShipmentJobAirInfo'
          - $ref: '#/components/schemas/ShipmentJobFtlInfo'
          - $ref: '#/components/schemas/ShipmentJobGenericV1Info'
          - $ref: '#/components/schemas/ShipmentJobIntermodalInfo'
          - $ref: '#/components/schemas/ShipmentJobLtlInfo'
          - $ref: '#/components/schemas/ShipmentJobOceanInfo'
          - $ref: '#/components/schemas/ShipmentJobSeaAirInfo'
          - $ref: '#/components/schemas/ShipmentJobTonuInfo'
          - $ref: '#/components/schemas/ShipmentJobUnknownInfo'
          example:
            freightChargeTerms: PREPAID
            carrierOrganizationName: Example Carrier Inc
            carrierOrganizationQid: null
            brokerOrganizationQid: null
            billToAddressName: Billing Department
            billToAddressQid: null
            firstOriginAddressName: Warehouse A
            firstOriginAddressQid: null
            lastDestinationAddressName: Distribution Center B
            lastDestinationAddressQid: null
            stops:
            - addressName: Warehouse A
              addressQid: null
              date: null
              organizationQid: null
              stopType: PICK_UP
              articlesSummary:
                totalGrossWeight:
                  value: 15000
                  unit: LB
                totalPackageCount:
                  value: 25
                  unit: PLT
                totalHandlingUnit: null
              articles:
              - description: Industrial Equipment
                dimensions:
                  length: 48
                  width: 40
                  height: 48
                  unit: IN
                grossWeight:
                  value: 2000
                  unit: LB
                nmfcClass: '70'
                nmfcCode: '133300'
                packageCount:
                  value: 5
                  unit: PLT
                handlingUnit: null
              - description: Electronics Components
                dimensions:
                  length: 36
                  width: 30
                  height: 24
                  unit: IN
                grossWeight:
                  value: 800
                  unit: LB
                nmfcClass: '125'
                nmfcCode: '178650'
                packageCount:
                  value: 10
                  unit: BOX
                handlingUnit: null
              referenceNumbers: []
            - addressName: Distribution Center B
              addressQid: null
              date: null
              organizationQid: null
              stopType: DROP_OFF
              articlesSummary:
                totalGrossWeight:
                  value: 15000
                  unit: LB
                totalPackageCount:
                  value: 25
                  unit: PLT
                totalHandlingUnit: null
              articles:
              - description: Industrial Equipment
                dimensions:
                  length: 48
                  width: 40
                  height: 48
                  unit: IN
                grossWeight:
                  value: 2000
                  unit: LB
                nmfcClass: '70'
                nmfcCode: '133300'
                packageCount:
                  value: 5
                  unit: PLT
                handlingUnit: null
              - description: Electronics Components
                dimensions:
                  length: 36
                  width: 30
                  height: 24
                  unit: IN
                grossWeight:
                  value: 800
                  unit: LB
                nmfcClass: '125'
                nmfcCode: '178650'
                packageCount:
                  value: 10
                  unit: BOX
                handlingUnit: null
              referenceNumbers: []
        addresses:
          description: Addresses associated with this shipment job.
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobAddress'
        referenceNumbers:
          description: The shipment job's reference numbers. This field only supports one reference number per type. For a more comprehensive list of all reference numbers for the shipment job, please use referenceNumbersList.
          nullable: false
          deprecated: true
          example:
            bolNumber: BOL123456789X
            externalIdentifier: EXID987654321Z
          allOf:
          - $ref: '#/components/schemas/RawShipmentReferenceNumbers'
        referenceNumbersList:
          description: All of the shipment job's reference numbers.
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/ShipmentReferenceNumber'
        artifacts:
          description: The artifacts. This is an expansion field. To include this field, you must include `artifacts` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/ShipmentJobArtifactExpanded'
        tags:
          type: object
          description: Entity tags assigned to the shipment job. This is an expansion field. To include this field, you must include `tags` in the query parameters.
        shipment:
          description: The shipment of the shipment job. This is an expansion field. To include this field, you must include `shipment` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/ShipmentWithoutShipmentJobsExpanded'
        tareWeights:
          description: Tare weights extracted from shipment job artifacts. For multi-stop FTL jobs, there should be a tare weight for each unique BOL.
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/Weight'
      required:
      - qid
      - createdAt
      - jobType
      - primaryVendorOrganizationQid
      - jobTypeInfo
      - addresses
      - referenceNumbers
      - referenceNumbersList
      - tareWeights
    PayableInvoiceLineItem:
      type: object
      properties:
        description:
          type: string
          description: A description of the line item
          example: Linehaul
        invoiced:
          example:
            amount: '3.50'
            currencyCode: USD
          description: The amount of the line item
          allOf:
          - $ref: '#/components/schemas/Money'
        payment:
          example:
            amount: '3.50'
            currencyCode: USD
          description: The amount paid on the line item
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Money'
        category:
          type: string
          description: Deprecated, prefer `classification.name`. The category of the line item
          example: LINEHAUL
          enum:
          - DISCOUNT
          - FUEL_SURCHARGE
          - LINEHAUL
          - OTHER
          deprecated: true
        classification:
          description: The classification of the line item. I.e. Linehaul, California surcharge, ...
          allOf:
          - $ref: '#/components/schemas/PayableInvoiceLineItemClassification'
      required:
      - description
      - invoiced
      - payment
      - category
      - classification
    NmfcClass:
      type: string
      enum:
      - '50'
      - '55'
      - '60'
      - '65'
      - '70'
      - '77.5'
      - '85'
      - '92.5'
      - '100'
      - '110'
      - '125'
      - '150'
      - '175'
      - '200'
      - '250'
      - '300'
      - '400'
      - '500'
    ShipmentJobTonuInfo:
      type: object
      properties:
        carrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        carrierOrganization:
          description: The carrier associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
      required:
      - carrierOrganizationQid
    RawShipmentReferenceNumbers:
      type: object
      properties:
        bolNumber:
          type: string
        containerNumber:
          type: string
        customerReferenceNumber:
          type: string
        deliveryNumber:
          type: string
        displayIdentifier:
          type: string
          description: The human-readable identifier for the shipment.
        externalIdentifier:
          type: string
        invoiceNumber:
          type: string
        pickupConfirmationNumber:
          type: string
        pickupReferenceNumber:
          type: string
        poNumber:
          type: string
        proNumber:
          type: string
        trackingNumber:
          type: string
        trailerNumber:
          type: string
    ShipmentJobSeaAirContainer:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_sea_air_container:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        containerNumber:
          type: string
          description: The container number
          nullable: true
          example: MSKU1234567
        containerType:
          type: string
          description: The type of container
          enum:
          - GP20
          - GP40
          - HC40
          - HC45
          - RF20
          - RF40
          - RF40HC
          - OT20
          - OT40
          - FR20
          - FR40
          - TK20
          example: GP20
          nullable: true
      required:
      - qid
      - containerNumber
      - containerType
    ShipmentJobOceanRouteLocation:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_ocean_route_location:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        type:
          type: string
          description: The type of route location
          enum:
          - PORT_OF_LOADING
          - PORT_OF_DISCHARGE
          - PORT_OF_ENTRY
          - CONTAINER_FREIGHT_STATION
          - PLACE_OF_RECEIPT
          - PLACE_OF_DELIVERY
          example: PORT_OF_LOADING
        unlocode:
          type: string
          description: The UN/LOCODE for this location
          example: USNYC
        name:
          type: object
          description: The name of this location
          nullable: true
      required:
      - qid
      - type
      - unlocode
      - name
    Address:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
        addressLine1:
          type: string
          example: 123 Main Street
        addressLine2:
          type: string
          example: Suite 456
        city:
          type: string
          example: Chicago
        state:
          type: string
          example: IL
        postalCode:
          type: string
          example: '60601'
        country:
          type: string
          example: US
          description: ISO 3166-1 alpha-2 country code.
      required:
      - qid
      - addressLine1
      - city
      - postalCode
      - country
    ShipmentJobOceanAddress:
      type: object
      properties:
        type:
          type: string
          description: The type of address
          enum:
          - ORIGIN
          - DESTINATION
          example: ORIGIN
        name:
          type: string
          description: The name associated with this address
          nullable: true
        addressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        address:
          description: The address details. This is an expansion field. To include this field, you must include `address` in the query parameters.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Address'
      required:
      - type
      - name
      - addressQid
      - address
    PayableInvoiceAddress:
      type: object
      properties:
        addressName:
          type: string
          description: The name associated with this address
          nullable: true
        addressQid:
          type: string
          description: Qualified unique identifier.
          example: qid::address:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        address:
          description: The address object. This is an expansion field. To include this field, you must include `address` in the query parameters.
          allOf:
          - $ref: '#/components/schemas/Address'
        addressType:
          type: string
          enum:
          - BILL_TO
          - DESTINATION
          - ORIGIN
          - OTHER
          - PAYEE
          - VENDOR
          example: ORIGIN
      required:
      - addressName
      - addressQid
      - addressType
    PayableInvoiceLineItemClassification:
      type: object
      properties:
        name:
          type: string
          example: Detention
          description: The classification of charge
        units:
          description: Units information for line item
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/PayableInvoiceLineItemUnit'
      required:
      - name
      - units
    ShipmentJobOceanContainer:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_ocean_container:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        containerNumber:
          type: string
          description: The container number
          nullable: true
          example: MSKU1234567
        containerType:
          type: string
          description: The type of container
          enum:
          - GP20
          - GP40
          - HC40
          - HC45
          - RF20
          - RF40
          - RF40HC
          - OT20
          - OT40
          - FR20
          - FR40
          - TK20
          example: GP20
          nullable: true
      required:
      - qid
      - containerNumber
      - containerType
    ShipmentJobOceanInfo:
      type: object
      properties:
        carrierOrganizationName:
          type: string
          description: The name of the carrier
          nullable: true
        carrierOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        carrierOrganization:
          description: The carrier associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        forwarderOrganizationName:
          type: object
          description: The name of the forwarder
          nullable: true
        forwarderOrganizationQid:
          type: string
          description: Qualified unique identifier.
          example: qid::organization:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        forwarderOrganization:
          description: The forwarder associated with this job. This is an expansion field. To include this field, you must include `organization` in the query parameters.
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/OrganizationExpanded'
        consolidationType:
          type: string
          description: The consolidation type for this ocean shipment
          enum:
          - FCL
          - LCL
          nullable: true
        addresses:
          description: The addresses associated with this ocean shipment
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobOceanAddress'
        routeLocations:
          description: The route locations for this ocean shipment
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobOceanRouteLocation'
        containers:
          description: The containers used for this ocean shipment
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobOceanContainer'
        totalVolume:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Volume'
        grossWeight:
          nullable: true
          type: object
          allOf:
          - $ref: '#/components/schemas/Weight'
        freightChargeTerms:
          type: string
          description: The freight charge terms for this ocean shipment
          enum:
          - COLLECT
          - PREPAID
          - THIRD_PARTY
          - UNKNOWN
          example: PREPAID
        dates:
          description: Dates associated with this ocean shipment (e.g. cargo received, laden on board, arrival).
          type: array
          items:
            $ref: '#/components/schemas/ShipmentJobOceanDate'
      required:
      - carrierOrganizationName
      - carrierOrganizationQid
      - carrierOrganization
      - forwarderOrganizationName
      - forwarderOrganizationQid
      - forwarderOrganization
      - consolidationType
      - addresses
      - routeLocations
      - containers
      - totalVolume
      - grossWeight
      - freightChargeTerms
      - dates
    CurrencyCode:
      type: string
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XCG
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWG
    ShipmentJobAirRouteUnlocodeLocation:
      type: object
      properties:
        qid:
          type: string
          description: Qualified unique identifier.
          example: qid::shipment_job_air_route_location:0ca6f700-4137-4d09-b44a-43bb8d7900c4
          format: qid
          nullable: true
        type:
          type: string
          description: The type of route location
          enum:
          - ORIGIN_AIRPORT
          - DESTINATION_AIRPORT
          - INTERMEDIATE_AIRPORT
          - CONTAINER_FREIGHT_STATION
          example: CONTAINER_FREIGHT_STATION
        unlocode:
          type: string
          description: The UN/LOCODE for this location
          example: USNYC
      required:
      - qid
      - type
      - unlocode
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: apiKey
      name: bearerAuth
      type: http
      description: "Bearer HTTP authentication. Allowed headers: \n  Authorization: Bearer <apiKey>"
